# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.react-native/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/debug.keystore
*.keystore

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcuserdata

# Expo
.expo/
.expo-shared/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.tmp
*.temp

# Logs
*.log 
node_modules
